* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-size: 62.5%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 47, 228);
}
.container {
    width:30%;
    min-height: 50vh;
    background-color: #fff;
    border-radius: 2rem;
    padding:2rem;
    margin-top: 20vh;
}
h3 {
    font-size: 2.4rem;
    font-weight: bold;
}
.fa-book {
    margin-left: 1rem;
    font-size: 2rem;
}
form {
    font-size: 1.4rem;
    margin-left: auto;
    cursor: pointer;
    position: relative;
}
form input {
    height:100%;
}
.input_task {
    width:100%;
    border-radius: 6rem;
    padding:1rem 2rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color:#000;
}
.submit_btn {
    position: absolute;
    right: 0%;
    width:25%;
    border-radius: 6rem;
    font-size: 1.4rem;
    background-color: orange;
    color:#fff;
    border: none;
}
.tasksList {
    margin-top: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.task {
    height:3rem;
    display: flex;
    align-items: center;
    padding:2rem 1.6rem;
    gap:1rem;
    background-color: whitesmoke;
}
.task_text {
    font-size: 1.4rem;
}
.fa-x {
    margin-left: auto;
    font-size: 1.2rem;
}
.checkedTask {
    text-decoration: line-through;
}



@media screen and (max-width: 350px) {
    .container {
        width:80%;
    }
    * {
        font-size: 40%;
    }
}
@media (max-width:600px) {
    .container {
        width:60%;
    }
    * {
        font-size: 50%;
    }
}

@media (max-width:1050px)  {
    .container {
        width:50%;
    }
}
